@import url('https://fonts.googleapis.com/css?family=Hind');
    .cebolla{
        font-size: 0.5em;
    }
    @media(max-width:750px){
        .cebolla{
            font-size: 0.4em;
            text-align: center;
            height: 90%;
        }
        .contenedor{
            column-gap: 0;
            grid-template-columns: auto;
        }
        
        .contenedor div{
            display: flex;
            flex-direction:column;
            text-align: center;
            height: 95%;
            width: 90%;
            margin: 0 5% 0 5%;
            font-family: 'Hind',sans-serif;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .contenedor div h2{
            height: 40px;
            margin:0;
            background: #004990;
            color: white;
        }
    }
    .contenedor{
        width: 90%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        margin: 0% 5% 0% 5%;
        height: 70%;
    }
    .contenedor div{
        display: flex;
        flex-direction:column;
        text-align: center;
        height: 95%;
        font-family: 'Hind',sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .contenedor div:hover{
        transition: transform.1s;
        transform: scale(1.1);
    }

    .contenedor div h2{
        height: 25%;
        margin:0;
        background: #004990;
        color: white;
    }

    .contenedor div p{
        width: 75%;
        height: 75%;
        margin: 12.5% 12.5% 0 12.5%;
        font-size: 1.3em;
    }

    .newUserForm{
        text-align: center;
    }