@import url('https://fonts.googleapis.com/css?family=Hind');
    .cebolla{
        font-size: 0.5em;
    }
    .contenedor{
        width: 90%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        margin: 0 auto;
        height: 70%;
    }
    .contenedor .tarjeta {
        display: flex;
        flex-direction:column;
        text-align: center;
        height: 95%;
        font-family: 'Hind',sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 4px;
    }

    .contenedor .tarjeta:hover {
        transition: transform.1s;
        transform: scale(1.1);
        cursor: pointer;
    }
    .contenedor .tarjeta .encabezado-tarjeta {
        display: flex;
        height: 25%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin:0;
        border-radius: 4px 4px 0 0;
        background: #004990;
        color: white;
    }


    .contenedor .tarjeta .cuerpo-tarjeta{
        height: 75%;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .twoColBody .left-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align:center;
    }

    .right-content #app {
        display: flex;
        justify-content: center;
        text-align: center;
        height:100%
    }

    .contenedor .tarjeta .cuerpo-tarjeta p {
        font-size: 1.3em;
    }

    .newUserForm{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.6em;
        text-align: left;
        /* margin-left: 5ch;
        margin-top: 5ch; */
    }
    .inp{
        font-family: Hind,sans-serif;
        width: 300px;
        height: 35px;
        background: #E8E8E8;
        border: 1px solid #585858;
        font-size: 1rem;
        margin-bottom: 1em;
        border-radius: 20px;
        padding-left: 15px;
    }
    .inp:focus{
        background: lightgray;
        outline-style: none;
    }
    
    .twoColBody{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dropdown{
        font-family: Hind,sans-serif;
        font-size: 1rem;
        background: #E8E8E8;
        border: 1px solid #585858;
        width: 315px;
        height: 35px;
        margin-top: 5px;
        margin-bottom: 1em;
        border-radius: 20px;
        padding-left: 15px;
    }
    .dropdown:focus{
        background: white;
        border: black;
        margin-bottom: 1em;
    }
    .submitBtn{
        width: 150px;
        height: 30px;
        background: #004990;
        border: none;
        border-radius: 20px;
        color: white;
    }
    .submitBtn:hover{
        cursor: pointer;
    }

    .newUserForm>strong{
        padding-left: 10px;
    }

    .lista_users{
        position: relative;
        list-style-type: none;
        margin:0;
        height: 70%;
        background: #F8F8F8;
        width: 90%;;
        padding: 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .card_user{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 35px;
        border-bottom: 1px solid gainsboro;
        font-size: 0.6em;
        width: 100%;
    }

    .card_user:hover{
        background: gainsboro;
    }

    .card_user i{
        font-style: normal;
        font-family: 'Hind',sans-serif;
        color: #606060;
        width: 80%;
        margin-left: 20%;
    }

    .titulo{
        font-size: 0.8em;
        
    }
    
    @media(max-width:750px){
        .newUserForm{
            margin-top: 60px;
            margin-left: 0ch;
        }
        .twoColBody{
            display: grid;
            grid-template-columns: 1fr;
        }
        .cebolla{
            font-size: 0.4em;
            text-align: center;
            height: 90%;
        }
        .contenedor{
            column-gap: 0;
            grid-template-columns: auto;
        }
        

        .contenedor .tarjeta {
            display: flex;
            flex-direction:column;
            text-align: center;
            height: 95%;
            width: 90%;
            margin: 0 5% 0 5%;
            font-family: 'Hind',sans-serif;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .contenedor .tarjeta .encabezado-tarjeta{
            height: 40px;
            margin:0;
            padding-top: 0px;
            background: #004990;
            color: white;
        }
    }