.body-container {
  grid-area: body-container;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "llaves-prestadas formulario-prestamo";
  @media (--tablets) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "formulario-prestamo"
                         "llaves-prestadas";
  }
  @media (--phones) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "formulario-prestamo"
                          "llaves-prestadas";
  }
  @media (--small-phones) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "formulario-prestamo"
                          "llaves-prestadas";
  }
}