.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background: var(--color_principal);
  color: var(--color_blanco);
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 5px;
  top: 10px;
  display: none;
  @media (--tablets) {
    display: initial;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  @media (--ipad) { 
    font-size: 1.1rem;
  }
}

.icon-menu:before {
  content: "\e900";
}

.salir {
  width: 40px;
  height: 40px;
  display: block;
  color: var(--color_blanco);
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 0 var(--color_secundario);
  }
}

.icon-salir:before {
  content: "\ea14";
}