.container-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 1fr 5%;
  grid-template-areas: "header"
                       "container-wrapper"
                       "footer";
  @media (--ipad) {
    grid-template-rows: 125px 1fr 30px;
  }
  @media (--tablets) {
    grid-template-rows: 60px 1fr 30px;
  }
  @media (--normal) {
    grid-template-rows: 120px 1fr 30px;
  }
  @media (--large) {
    grid-template-rows: 20% 1fr 30px;
  }
}