.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  background-color: var(--color_secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h3 {
    margin: 0 10px;
    color: var(--color_blanco);
    font-size: .9rem;
    font-weight: 300;
    @media (--large) {
      font-size: 1.5rem;
    }
  }
  @media (--large) {
    height: fit-content;
  }
}