.button-registro {
  grid-area: button-registro;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  & .registrar {
    @apply --button_principal;
    font-family: 'Hind', sans-serif;
    margin-right: 30px;
    @media (--large) {
      font-size: 1.5rem;
    }
    @media (--ipad) {
      font-size: .8rem;
      margin-right: 18px;
    }
    @media (--tablets) {
      font-size: 0.8rem;
      margin-right: 12px;
    }
    @media (--small-phones) {
      font-size: 0.6rem;
    }
  }
  & .cancelar {
    @apply --button_secundario;
    font-family: 'Hind', sans-serif;
    @media (--large) {
      font-size: 1.5rem;
    }
    @media (--ipad) {
      font-size: .8rem;
    }
    @media (--tablets) {
      font-size: 0.8rem;
    }
    @media (--small-phones) {
      font-size: 0.6rem;
    }
  }
}