.button-registro {
  grid-area: button-registro;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: ". boton-registrar boton-cancelar"; 
  height: 100%;
  align-items: center;
  width: 94%;
  justify-content: center;
  font-size: 1rem;
  @media (--tablets) {
    /* grid-template-columns: 20% 35% 42%; */
    justify-self: center;
    width: 89%;
  }
  & .registrar {
    grid-area: boton-registrar;
    width: fit-content;
    margin-left: 10px;
    @apply --button_principal;
    border: 2px solid var(--color_principal);
    font-family: 'Hind', sans-serif;
    margin-right: 30px;
    @media (--large) {
      font-size: 1.5rem;
      border-radius: 35px;
    }
    @media (--ipad) {
      font-size: .8rem;
      margin-right: 18px;
    }
    @media (--tablets) {
      font-size: 0.8rem;
      margin-right: 12px;
    }
    @media (--small-phones) {
      font-size: 0.75rem;
      padding: 2px 32px;
    }
  }
  & .cancelar {
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    grid-area: boton-cancelar;
    @apply --button_secundario;
    font-family: 'Hind', sans-serif;
    @media (--large) {
      font-size: 1.5rem;
      border-radius: 35px;
    }
    @media (--ipad) {
      font-size: .8rem;
    }
    @media (--tablets) {
      font-size: 0.8rem;
      margin-right: 10px;
    }
    @media (--small-phones) {
      font-size: 0.75rem;
      padding: 2px 32px;
      margin-right: 0;
    }
  }
}