.button-registro {
  grid-area: button-registro;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  @media (--large) {
    font-size: 1.5rem;
  }
  & .registrar {
    @apply --button_principal;
    font-family: 'Hind', sans-serif;
  }
}