.inventory-item {
  display: flex;
  width: 100%;
  /* border-block-end: 1px solid gray; */
  height: 40px;
  &:hover {
    color: white;
    background: var(--color_secundario);
  }
  & h4 {
    font-size: 1rem;
    margin: 0;
    cursor: default;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & #inventory-item-check {
    width: 5%;
    marign: 0;
    align-self: center;
    cursor: pointer;
  }
  & #inventory-item-id {
    width: 7%;
  }
  & #inventory-item-object {
    width: 20%;
  }
  & #inventory-item-brand {
    width: 20%;
  }
  & #inventory-item-description {
    width: 37%;
  }
  & #inventory-item-quantity {
    width: 9%;
  }
}