.modal-soporte-container {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#modal-soporte-container:target {
  display: flex;
}

.modal-soporte-content {
  height: 500px;
  width: 500px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 80px 1fr 50px;
  grid-template-areas: "soporte-tittle"
                       "soporte-content"
                       "soporte-buttons";
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 2px solid gray;
  border-radius: 5px;
  @media (--large) {
    grid-template-rows: 110px 1fr 80px;
    grid-template-columns: 700px;
    width: 700px;
    height: 650px;
  }
  @media (--phones) {
    grid-template-columns: 100%;
    width: 100%;
  }
}