.search-results-content-card {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  width: 80%;
  min-height: fit-content;
  padding: 10px;
  margin-bottom: 5px;
  & h3 {
    margin: 0;
    font-size: 1rem;
    width: 6%;
    @media (--large) {
      font-size: 1.8rem;
    }
  }
  & #search-results-date {
    margin-right: 10px;
  }
  & #search-results-id {
    text-align: end;
    padding-right: 10px;
  }
  & .search-results-symbol {
    cursor: pointer;
  }
  & div {
    display: flex;
    flex-direction: column;
    width: 94%;
    & h3 {
      margin: 0;
      width: 100%;
    }
    & .search-results-loanobjects {
      background: #e5e5e5;
      border-radius: 5px;
      padding-bottom: 0;
      margin-bottom: 0;
      flex-direction: column;
      display: none;
    }
    & .is-active {
      display: flex;
    }
    & div {
      display: flex;
      flex-direction: row;
      width: 100%;
      & p {
        margin: 0;
        font-size: 1rem;
        @media (--large) {
          font-size: 1.4rem;
        }
      }
      & #search-results-classroom {
        width: 15%;
        margin-left: 10px;
        @media (--small-phones) {
          width: 20%;
        }
      }
      & #search-results-teacher {
        width: 85%;
        margin-left: 10px;
        @media (--small-phones) {
          width: 80%;
        }
      }
      & #search-results-start {
        margin: 0 10px;
      }
      & #search-results-end {
        margin-left: 10px;
      }
      & #search-results-symbol {
        font-size: 0.8rem;
        transition: 0.3s ease-in;
      }
      & .rotation {
        transition: 0.3s ease-in;
        transform: rotate(-180deg);
      }
      & #search-results-objectname {
        width: 15%;
        margin-left: 3px;
        @media (--ipad) {
          width: 25%;
        }
        @media (--tablets) {
          width: 25%;
        }
        @media (--phones) {
          width: 25%;
        }
        @media (--small-phones){
          width: 30%;
        }
      }
      & #search-results-objectbrand {
        width: 70%;
        @media (--ipad) {
          width: 50%;
        }
        @media (--tablets) {
          width: 50%;
        }
        @media (--phones) {
          width: 50%;
        }
        @media (--small-phones){
          width: 30%;
        }
      }
      & #search-results-objectstatus {
        width: 15%;
        @media (--ipad) {
          width: 25%;
        }
        @media (--tablets) {
          width: 25%;
        }
        @media (--phones) {
          width: 25%;
        }
        @media (--small-phones){
          width: 40%;
        }
      }
    }
    & p {
      margin: 0;
      font-size: 1rem;
      @media (--large) {
        font-size: 1.4rem;
      }
    }
  }
}