.search-results-tittle {
  grid-area: search-results-tittle;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_texto);
  & h2 {
    margin: 0;
    font-size: 1.3rem;
    @media (--large) {
      font-size: 2.3rem;
    }
    @media (--phones) {
      font-size: 1.5rem;
    }
    @media (--small-phones) {
      font-size: 1.3rem;
    }
  }
}