body {
  margin: 0;
  /* background-attachment: scroll; */
  background-image: url('../images/bg-inicio-sesion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.container {
  /* border: 1px solid red; */
  width: auto;
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 1, .05)
}

.inicio-sesion {
  border: 1px solid blue;
  width: 360px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 2px 2px lightgrey;
}

.inicio-sesion h1 {
  display: flex;
  justify-content: center;
  margin: 30px 0 40px 0;
  font-size: 40px;
}

.inicio-sesion h2 {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.inicio-sesion input {
  border-radius: 15px;
  margin: 0 30px;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  border: 1px solid blue;
}

.inicio-sesion a {
  text-decoration: none;
  align-self: center;
  margin: 20px 0;
}

.inicio-sesion img {
  align-self: center;
  /* border: 1px solid red; */
}

.ingresar {
  text-decoration: none;
  text-align: center;
  margin-top: 30px;
  font-size: 23px;
  /* border: 2px solid lightseagreen; */
  border-radius: 20px;
  width: max-content;
  padding: 5px 30px;
  align-self: center;
  color: #fff;
  background-color: blue;
}

