html {
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  
  background-color: #004990;
}

.header h1 {
  font-size: 35px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  width: 500px;
  color: #fff;
  font-weight: 500;
}

.header .container {
  display: flex;
  height: 170px;
}

.logo {
  margin: 0 10px 0 30px;
  align-self: flex-end;
  padding-bottom: 10px;
}

.menu {
  width: 500px;
  display: flex;
  align-items: flex-end;
}

.menu ol {
  width: 100%;
  list-style: none;
  text-align: end;
  margin: 0 0 8px 0;
}

.menu li {
  display: inline-block;
  margin: 0 5px;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.menu a:hover {
  box-shadow: 0 8px 0 0 #F7A11A;
}

.imagen-perfil {
  margin: 0;
  display: flex;
  align-items: flex-end;
  padding: 0 40px 10px 10px;
}

.container-sections {
  display: inline-flex;
  width: 100%;
  height: 70%;
}


.container-sections h2 {
  text-align: center;
  margin: 10px 10px;
  font-size: 30px;
  font-weight: 300;
}

.division {
  height: 1%;
  background-color: lightgray;
  margin: 0;
  width: 90%;
}

.llaves-prestadas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.llaves-prestadas h2 {
  height: 10%;
}

.llaves-titles{
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.llaves-titles h3 {
  font-size: 16px;
  margin: 10px 0;
  align-self: center;
  height: 10%;
}

.llaves-cards {
  width: 90%;
  height: 91%;
  overflow: hidden;
  padding: 3px;
}

.card-item {
  border: .5px solid lightgray;
  display: inline-flex;
  margin: 3px 0;
  height: 10%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 0 0 lightgrey;
}

.card-item h3 {
  font-size: .8em;
  font-weight: 500;
}

.card-item:hover {
  background-color: #00f301;
}

.llaves-paginador {
  height: 9%;
  width: 90%;
  border: 1px solid green;
}

.formulario-prestamo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-prestamo h2 {
  height: 10%;
}

.formulario-prestamo form {
  height: 69%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  box-sizing: content-box;
  width: 75%;
}

.row-container {
  border: 1px solid red;
  width: 100%;
  margin: 5px 0;
}

.lista-llaves {
  display: flex;
  justify-content: flex-end;
}

.pequeños input {
  width: 30%;
}

.row-container input {
  font-size: 22px;
  border-radius: 20px;
}

.row-container a {
  text-decoration: none;
}

.button-registro {
  display: initial;
  height: 20%;
}

.button-registro a {
  text-decoration: none;
  background-color: #004990;
  border-radius: 20px;
  margin: 0;
  padding: 0 40px;
  font-size: 23px;
  color: #fff;
}

.footer {
  height: 5%;
  width: 100%;
  background-color: #F7A11A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}