html {
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Declaracion de variables */
:root{
  --color_principal: #004990;
  --color_secundario: #F7A11A;
}

.container-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px 1fr 30px;
  grid-template-areas: "header header"
                       "llaves-prestadas formulario-prestamo"
                       "footer footer";
}

.header {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  background-color: var(--color_principal);
  font-size: 20px;
}

.logo {
  margin: 0 10px;
  align-self: flex-end;
  text-align: end;
}

#logo-unison {
  width: auto;
  height: 120px;
}

.header h1 {
  font-size: 1.5em;
  margin: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3%;
  width: 40%;
  color: #fff;
  font-weight: 500;
}

nav {
  width: 40%;
  display: flex;
  align-items: flex-end;
}

.menu {
  width: 100%;
  list-style: none;
  text-align: right;
  margin: 0 0 8px 0;
}

.menu li {
  display: inline-block;
  margin: 0 5px;
  font-size: 17px;
}

.menu a {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
}

.menu a:hover {
  box-shadow: 0 8px 0 var(--color_secundario);
}

.imagen-perfil {
  width: 5%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  padding: 0 40px 10px 10px;
}

.llaves-prestadas {
  grid-area: llaves-prestadas;
  display: grid;
  grid-template-rows: 50px 50px 1fr 40px;
  grid-template-areas: "llaves-prestadas-tittle"
                       "llaves-tittle"
                       "llaves-cards"
                       "llaves-paginador";
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.llaves-prestadas-tittle {
  grid-area: llaves-prestadas-tittle;
  margin: 0;
  justify-self: center;
  color: #585858;
}

.llaves-titles{
  display: flex;
  grid-area: llaves-tittle;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  border-bottom: 2px solid var(--color_principal);
  border-top: 2px solid var(--color_principal);
  color: #585858;
}

.llaves-titles h3 {
  font-size: 16px;
  margin: 0;
  width: 20%;
  text-align: center;
  color: #585858;
}

.llaves-cards {
  grid-area: llaves-cards;
  width: 90%;
  /* height: 43vh; */
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.card-item {
  border: .5px solid lightgray;
  display: inline-flex;
  margin: 3px 0;
  height: 35px;
  width: 99%;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  justify-self: center;
}

.card-item h3 {
  font-size: .8em;
  font-weight: 500;
  width: 20%;
  max-height: 35px;
  text-align: center;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item:hover {
  background: green;
  background: -webkit-linear-gradient(to right, #58FA58, #f4fbff, #f4fbff, #f4fbff);
  background: linear-gradient(to right, #58FA58, #f4fbff, #f4fbff, #f4fbff);
}

.llaves-paginador {
  grid-area: llaves-paginador;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.llaves-paginador ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.llaves-paginador a {
  color: gray;
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 1.2em;
  padding: 0 10px 0 10px;
  border-radius: 3px;
  cursor: pointer;
}

.llaves-paginador a:hover {
  color: white;
  background: var(--color_principal);
}

.formulario-prestamo {
  grid-area: formulario-prestamo;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "formulario-tittle"
                       "formulario-prestamo-content"
                       "button-registro";
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.formulario-tittle {
  grid-area: formulario-tittle;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid var(--color_principal);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formulario-tittle h2 {
  height: 50%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #585858;
}

.ghost-div {
  width: 100%;
  height: 50%;
}

.formulario-prestamo-content {
  grid-area: formulario-prestamo-content;
  display: grid;
  display: -ms-grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 20% 35% 10% 35%;
  grid-template: repeat( 5, 1fr) / 20% 35% 10% 35%;
  grid-template-areas: ". combo-box combo-box combo-box"
                       "llaves llaves-i llaves-i llaves-i"
                       "maestros maestros-i maestros-i maestros-i"
                       "materia materia-i materia-i materia-i"
                       "aula aula-i hora hora-i";
  margin: 0;
  width: 95%;
  height: 100%;
}

.formulario-prestamo-content h3 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #585858;
}

.combo-box {
  grid-area: combo-box;
  cursor: pointer;
  border-radius: 20px;
  font-size: .8em;
  border: 1px solid lightgray;
  padding: 5px;
  color: darkgray;
}

.llaves {
  grid-area: llaves;
}

.llaves-i {
  grid-area: llaves-i;
}

.maestros {
  grid-area: maestros;
}

.maestros-i {
  grid-area: maestros-i;
}

.materia{
  grid-area: materia;
}

.materia-i {
  grid-area: materia-i;
}

.aula {
  grid-area: aula;
}

.aula-i{
  grid-area: aula-i;
}

.hora {
  grid-area: hora;
  text-align: center;
  padding-left: 5px;
}

.hora-i {
  grid-area: hora-i;
}

.inputs {
  height: 30px;
  border-radius: 20px;
  border: 1px solid #585858;
  align-self: center;
  /* margin: 0 25px 0 5px; */
  padding-left: 10px;
}

.button-registro {
  grid-area: button-registro;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.button-registro .registrar {
  text-decoration: none;
  background-color: var(--color_principal);
  border-radius: 20px;
  margin: 0;
  padding: 5px 40px;
  font-size: 1em;
  color: #fff;
  border: none;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#modal-container:target {
  display: flex;
}

.modal-content {
  height: 80vh;
  width: 500px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  overflow: auto;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 2px solid gray;
  border-radius: 5px;
}

.modal-tittle {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid var(--color_principal);
  font-size: 1.5em;
  margin: 0;
  font-weight: 500;
}

.modal-list {
  padding:  0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-list select {
  margin-top: 10px;
}

.modal-checklist {
  font-size: 1.3em;
  border: 1px solid red;
  padding: 5px 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.modal-button-aceptar {
  background: var(--color_principal);
  border-radius: 20px;
  text-decoration: none;
  margin: 0;
  padding: 5px 40px;
  font-size: 1em;
  color: #fff;
  border: none;
  height: 60%;  
}

.modal-button-cancelar {
  background: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin: 0;
  padding: 5px 40px;
  font-size: 1em;
  color: #00001a;
  border: 2px solid var(--color_principal);  
  height: 60%;
}

/* ***********************************************************/

/* *****************Secicon de Footer************************ */

.footer {
  grid-area: footer;
  height: 100%;
  width: 100%;
  background-color: var(--color_secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  margin: 0 10px;
  color: #f4fbff;
  font-size: 15px;
  font-weight: 300;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color_principal);
  display: block;
  color: #f4fbff;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  display: none;
}

/* ***************************************************************************************************************************** */

/* **********************Media Querys***********************************************************/
@custom-media --medium (width <= 950px);
@custom-media --medium-1 (width <= 769px);
@custom-media --medium-2 (width <= 744px);
@custom-media --small (width <= 592px);
@custom-media --extra-small (width <= 425px);
@custom-media --extra-small-1 (width <= 375px);
@custom-media --extra-small-2 (width <= 320px);

@media (--medium){
  #logo-unison {
    height: 100px;
    width: auto;
  }
  .header h1 {
    font-size: 1.2em;
  }
  .inputs {
    width: inherit;
  }
  .menu {
    padding: 0;
  }
}

@media (--medium-1) {
  .formulario-prestamo-content h3 {
    font-size: .9em;
  }
  .inputs {
    height: 25px;
  }
  .aula-i, .hora-i {
    width: 85%;
  }
  .hora {
    padding: 0;
  }
}

@media (--medium-2){
  nav {
    width: 0;
  }
  .container-grid {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 400px 450px 30px;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 60px 400px 450px 30px;
    grid-template-areas: "header"
                         "formulario-prestamo"
                         "llaves-prestadas"
                         "footer";
  }
  .header {
    grid-area: header;
    position: fixed;
    height: 60px;
  }
  .formulario-prestamo {
    grid-area: formulario-prestamo;
  }
  .llaves-prestadas {
    grid-area: llaves-prestadas;
  }
  .footer {
    grid-area: footer;
  }
  .menu a{
    font-size: 2em;
  }
  .burger-button {
    display: initial;
    top: 2vh;
  }
  .logo {
    align-self: auto;
  }
  .header h1 {
    padding: 10px;
  }
  #logo-unison {
    height: 60px;
  }
  .menu {
    position: fixed;
    background: var(--color_principal);
    z-index: 3;
    top: -10vh;
    left: -130vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -10vh;
    transition: .3s;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
  .menu.is-active {
    padding: 0;
    margin: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
  .formulario-prestamo {
    grid-template-rows: 60px 1fr 60px;
  }
  .formulario-tittle h2 {
    height: 100%;
  }
  .ghost-div {
    height: 0;
  }
  .formulario-prestamo-content {
    width: 97%;
    grid-template:repeat(5, 1fr) / 150px 1fr 60px 1fr;
  }
  .formulario-prestamo-content h3 {
    font-size: 1.3em;
    padding-left: 20px;
  }
  .hora {
    padding: 0 !important;
  }
  .aula-i, .hora-i {
    width: 93% !important;
  }
  .inputs {
    height: 30px;
  }
}

@media (--small){
  .header h1 {
    font-size: 1em;
  }
}

@media (--extra-small){
  .header h1 {
    font-size: .8em;
  }
  .formulario-prestamo-content {
    grid-template: repeat(5, 55px) / 120px 1fr 60px 1fr;
  }
  .inputs {
    width: 90%;
  } 
  .aula-i, .hora-i {
    width: 75% !important;
  }
}

@media (--extra-small-1){
  .header h1 {
    font-size: .7em;
  }
  .llaves-titles h3{
    font-size: .75em;
  }
}

@media (--extra-small-2){
  .logo {
    margin: 0;
    display: flex;
    align-items: center;
  }
  #logo-unison {
    height: 50px;
    width: auto;
  }
  .header h1 {
    font-size: .8em;
    width: 160px;
  }
  .formulario-prestamo-content {
    grid-template: repeat(5, 55px) / 90px 1fr 60px 1fr;
  }
  .formulario-prestamo-content h3 {
    font-size: 1em;
  }
  .footer h3 {
    font-size: .8em;
  }
}

/* *******************************************************************/

/* ************** MENU HAMBURGUESA ****************** */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?87coz9');
  src:  url('../fonts/icomoon.eot?87coz9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?87coz9') format('truetype'),
    url('../fonts/icomoon.woff?87coz9') format('woff'),
    url('../fonts/icomoon.svg?87coz9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}