/* Declaracion de variables */
:root{
  --color_principal: #004990;
  --color_secundario: #F7A11A;
  --color_texto: #585858;
  --color_verde: #58FA58;
  --color_blanco: #f4fbff;
  --expander: {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  };
  --button_principal: {
    text-decoration: none;
    background-color: var(--color_principal);
    border-radius: 20px;
    margin: 0;
    padding: 5px 40px;
    font-size: 1em;
    color: #fff;
    border: none;
  };
  --button_secundario: {
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    margin: 0;
    padding: 5px 40px;
    font-size: 1em;
    color: #00001a;
    border: 2px solid var(--color_principal);  
    height: 60%;
  };
}

html {
  font-family: 'Hind', sans-serif;
  @apply --expander;
}

body{
  @apply --expander;
}

.container-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px 1fr 30px;
  grid-template-areas: "header header"
                       "llaves-prestadas formulario-prestamo"
                       "footer footer";
  @media (--medium-2) {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 400px 450px 30px;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 60px 400px 450px 30px;
    grid-template-areas: "header"
                         "formulario-prestamo"
                         "llaves-prestadas"
                         "footer";
  }
}

.header {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  background-color: var(--color_principal);
  font-size: 20px;
  & h1 {
    font-size: 1.5em;
    margin: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3%;
    width: 40%;
    color: #fff;
    font-weight: 500;
    @media (--medium) {
      font-size: 1.2em;
    }
    @media (--medium-2) {
      padding: 10px;
    }
    @media (--small) {
      font-size: 1em;
    }
    @media (--extra-small) {
      font-size: .8em;
    }
    @media (--extra-small-1) {
      font-size: .7em;
    }
    @media (--extra-small-2) {
      font-size: .8em;
      width: 160px;
    }
  }
  @media (--medium-2) {
    grid-area: header;
    position: fixed;
    height: 60px;
  }
}

.logo {
  margin: 0 10px;
  align-self: flex-end;
  text-align: end;
  @media (--medium-2) {
    align-self: auto;
  }
  @media (--extra-small-2) {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

#logo-unison {
  width: auto;
  height: 120px;
  @media (--medium) {
    height: 100px;
    width: auto;
  }
  @media (--medium-2) {
    height: 60px;
  }
  @media (--extra-small-2) {
    height: 50px;
    width: auto;
  }
}

nav {
  width: 40%;
  display: flex;
  align-items: flex-end;
  @media (--medium-2) {
    width: 0;
  }
}

.menu {
  width: 100%;
  list-style: none;
  text-align: right;
  margin: 0 0 8px 0;
  & li {
    display: inline-block;
    margin: 0 5px;
    font-size: 17px;
  }
  & a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    &:hover {
      box-shadow: 0 8px 0 var(--color_secundario);
    }
    @media (--medium-2) {
      font-size: 2em;
    }
  }
  @media (--medium) {
    padding: 0;
  }
  @media (--medium-2) {
    position: fixed;
    background: var(--color_principal);
    z-index: 3;
    top: -10vh;
    left: -130vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -10vh;
    transition: .3s;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
}

.imagen-perfil {
  width: 5%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  padding: 0 40px 10px 10px;
}

.llaves-prestadas {
  grid-area: llaves-prestadas;
  display: grid;
  grid-template-rows: 50px 50px 1fr 40px;
  grid-template-areas: "llaves-prestadas-tittle"
                       "llaves-tittle"
                       "llaves-cards"
                       "llaves-paginador";
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  @media (--medium-2) {
    grid-area: llaves-prestadas;
  }
}

.llaves-prestadas-tittle {
  grid-area: llaves-prestadas-tittle;
  margin: 0;
  justify-self: center;
  color: var(--color_texto);
}

.llaves-titles{
  display: flex;
  grid-area: llaves-tittle;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
  border-bottom: 2px solid var(--color_principal);
  border-top: 2px solid var(--color_principal);
  color: var(--color_texto);
  & h3 {
    font-size: 16px;
    margin: 0;
    width: 20%;
    text-align: center;
    color: var(--color_texto);
    @media (--extra-small-1) {
      font-size: .75em;
    }
  }
}

.llaves-cards {
  grid-area: llaves-cards;
  width: 90%;
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.card-item {
  border: .5px solid lightgray;
  display: inline-flex;
  margin: 3px 0;
  height: 35px;
  width: 99%;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  justify-self: center;
  & h3 {
    font-size: .8em;
    font-weight: 500;
    width: 20%;
    max-height: 35px;
    text-align: center;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    background: green;
    background: -webkit-linear-gradient(to right, var(--color_verde), var(--color_blanco), var(--color_blanco), var(--color_blanco));
    background: linear-gradient(to right, var(--color_verde), var(--color_blanco), var(--color_blanco), var(--color_blanco));
  }
}

.llaves-paginador {
  grid-area: llaves-paginador;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & a {
    color: gray;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 1.2em;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      color: white;
      background: var(--color_principal);
    }
  }
}

.formulario-prestamo {
  grid-area: formulario-prestamo;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "formulario-tittle"
                       "formulario-prestamo-content"
                       "button-registro";
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media (--medium-2) {
    grid-area: formulario-prestamo;
    grid-template-rows: 60px 1fr 60px;
  }
}

.formulario-tittle {
  grid-area: formulario-tittle;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid var(--color_principal);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h2 {
    height: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color_texto);
    @media (--medium-2) {
      height: 100%;
    }
  }
}

.ghost-div {
  width: 100%;
  height: 50%;
  @media (--medium-2) {
    height: 0;
  }
}

.formulario-prestamo-content {
  grid-area: formulario-prestamo-content;
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 20% 35% 10% 35%;
  grid-template: repeat( 5, 1fr) / 20% 35% 10% 35%;
  grid-template-areas: ". combo-box combo-box combo-box"
                       "llaves llaves-i llaves-i llaves-i"
                       "maestros maestros-i maestros-i maestros-i"
                       "materia materia-i materia-i materia-i"
                       "aula aula-i hora hora-i";
  margin: 0;
  width: 95%;
  height: 100%;
  & h3 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color_texto);
    @media (--medium-1) {
      font-size: 1em;
      padding-left: 10px;
    }
     @media (--medium-2) {
      font-size: .9em;
      padding-left: 8px;
    }
    @media (--extra-small-2) {
      font-size: .8em;
      padding-left: 8px;
    }
  }
  @media (--medium-2) {
    width: 95%;
  }
  @media (--small) {
    width: 100%;
  }
}

.combo-box {
  grid-area: combo-box;
  cursor: pointer;
  border-radius: 20px;
  font-size: .8em;
  border: 1px solid lightgray;
  padding: 5px;
  color: darkgray;
}

.llaves {
  grid-area: llaves;
}

.llaves-i {
  grid-area: llaves-i;
}

.maestros {
  grid-area: maestros;
}

.maestros-i {
  grid-area: maestros-i;
}

.materia{
  grid-area: materia;
}

.materia-i {
  grid-area: materia-i;
}

.aula {
  grid-area: aula;
}

.aula-i{
  grid-area: aula-i;
  @media (--medium-1){
    width: 85%;
  }
  @media (--medium-2) {
    width: 93% !important;
  }
  @media (--extra-small) {
    width: 75% !important;
  }
}

.hora {
  grid-area: hora;
  text-align: center;
  padding-left: 5px;
  @media (--medium) {
    padding: 0;
  }
  @media (--medium-2) {
    padding: 0 !important;
  }
}

.hora-i {
  grid-area: hora-i;
  @media (--medium-1) {
    width: 85%;
  }
  @media (--medium-2) {
    width: 93% !important;
  }
  @media (--extra-small) {
    width: 75% !important;
  }
}

.inputs {
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--color_texto);
  align-self: center;
  padding-left: 10px;
  @media (--medium) {
    width: inherit;
  }
  @media (--medium-1) {
    height: 25px;
  }
  @media (--medium-2) {
    height: 30px;
  }
  @media (--extra-small) {
    width: 90%;
  }
}

.button-registro {
  grid-area: button-registro;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.button-registro .registrar {
  @apply --button_principal;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#modal-container:target {
  display: flex;
}

.modal-content {
  height: 80vh;
  width: 500px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  overflow: auto;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 2px solid gray;
  border-radius: 5px;
}

.modal-tittle {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid var(--color_principal);
  font-size: 1.5em;
  margin: 0;
  font-weight: 500;
}

.modal-list {
  padding:  0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  & select {
    margin-top: 10px;
  }
}

.modal-checklist {
  font-size: 1.3em;
  border: 1px solid red;
  padding: 5px 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.modal-button-aceptar {
  @apply --button_principal;
}

.modal-button-cancelar {
  @apply --button_secundario;
}

.footer {
  grid-area: footer;
  height: 100%;
  width: 100%;
  background-color: var(--color_secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h3 {
    margin: 0 10px;
    color: var(--color_blanco);
    font-size: 15px;
    font-weight: 300;
    @media (--extra-small-2) {
      font-size: .8em;
    }
  }
  @media (--medium-2) {
    grid-area: footer;
  }
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color_principal);
  display: block;
  color: var(--color_blanco);
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  display: none;
  @media (--medium-2) {
    display: initial;
    top: 2vh;
  }
}

.menu.is-active {
  @media (--medium-2){
    padding: 0;
    margin: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
}

/* **********************Media Querys***************** */
@custom-media --medium (width <= 950px);
@custom-media --medium-1 (width <= 769px);
@custom-media --medium-2 (width <= 744px);
@custom-media --small (width <= 592px);
@custom-media --extra-small (width <= 425px);
@custom-media --extra-small-1 (width <= 375px);
@custom-media --extra-small-2 (width <= 320px);

/* ************** MENU HAMBURGUESA ****************** */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?87coz9');
  src:  url('../fonts/icomoon.eot?87coz9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?87coz9') format('truetype'),
    url('../fonts/icomoon.woff?87coz9') format('woff'),
    url('../fonts/icomoon.svg?87coz9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}